[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = {editable = true, git = "https://github.com/psf/black"}

[dev-packages]

[requires]
python_version = "3.9"
